.DS_Store
/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/tests/coverage
/storage/*.key
/storage/.installed
/storage/settings.json
/storage/excel
/storage/updater
/storage/html-purifier-cache
/storage/i18n-locales.js
/lang/.custom
/vendor
/.idea
/.vscode
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
